<script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@4/tex-mml-chtml.js"></script>

<script>
  MathJax = {
    tex: {
      displayMath: [['\\[', '\\]'], ['$$', '$$']],  // block
      inlineMath: [['\\(', '\\)'], ['$','$']]                  // inline
    },
    loader:{
      load: ['ui/safe']
    },
  };
</script>

<style>
  .post-content table {
    display: block;
    width: 100%;
    max-width: 100%;
    overflow-x: auto;
    min-width: auto !important;
    -webkit-overflow-scrolling: touch;
  }
</style>
